.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: white;
}

.App div {
    margin: 20px;
}

textarea {
    width: 500px;
    height: 200px;
}

.wrapper {
    display: flex;
}
